<mat-card>
    <mat-card-content>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="openDialog()" style="float: right; ">Add</button>
        </div> <br> <br>

        <div cdkDropListGroup class=" d-flex overflow-auto h- 300">
            <div class="example-container" style="width: 300px;">
                <h2 class="head-title">To do <span *ngIf="todo.length>0">-{{todo.length}}</span></h2>

                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" class="example-list m-2"
                    (cdkDropListDropped)="drop($event)">
                    <!---[cdkDropListConnectedTo]="[inprogressList]"-->
                    <ng-container *ngFor="let item of todo; let i=index">
                        <div class="example-box " *ngIf="!item.isedit" cdkDrag>{{item.content}}
                            <button mat-button color="primary" (click)="item.isedit = true" style="float: right;">
                                <mat-icon matSuffix>edit</mat-icon>
                            </button>
                            <button mat-button color="warn" (click)="deletetodo(i)" style="float: right;">
                                <mat-icon matSuffix>delete</mat-icon>
                            </button>
                        </div>
                        <mat-form-field appearance="outline" *ngIf="item.isedit">
                            <input matInput placeholder="Placeholder" [(ngModel)]="item.content">
                            <button mat-button (click)="update(item,item.content)">
                                <mat-icon matSuffix>update</mat-icon>
                            </button>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>
            <div class="example-container" style="width: 300px;">
                <h2 class="head-title">Inprogress <span *ngIf=" inprogress.length>0"> - {{inprogress.length}}</span>
                </h2>

                <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogress" class="example-list m-2"
                    (cdkDropListDropped)="drop($event)">
                    <!---[cdkDropListConnectedTo]="[doneList]"-->
                    <ng-container *ngFor="let item of inprogress; let i = index ">
                        <div class="example-box" *ngIf="!item.isedit" cdkDrag>{{item.content}}
                            <button mat-button color="primary" (click)="item.isedit = true" style="float: right;">
                                <mat-icon matSuffix>edit</mat-icon>
                            </button>
                            <button mat-button color="warn" (click)="deleteinprogress(i)" style="float: right;">
                                <mat-icon matSuffix>delete</mat-icon>
                            </button>
                        </div>

                        <mat-form-field appearance="outline" *ngIf="item.isedit">
                            <input matInput placeholder="Placeholder" [(ngModel)]="item.content">
                            <button mat-button (click)="update(item,item.content)">
                                <mat-icon matSuffix>update</mat-icon>
                            </button>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>

            <div class="example-container" style="width: 300px;">
                <h2 class="head-title">Tested <span *ngIf=" tested.length>0"> - {{tested.length}}</span>
                </h2>

                <div cdkDropList #testedList="cdkDropList" [cdkDropListData]="tested" class="example-list m-2 "
                    (cdkDropListDropped)="drop($event)">
                    <!--- [cdkDropListConnectedTo]="[testedList]"-->
                    <ng-container *ngFor="let item of tested; let i = index ">
                        <div class="example-box" *ngIf="!item.isedit" cdkDrag>{{item.content}}
                            <button mat-button color="primary" (click)="item.isedit = true" style="float: right;">
                                <mat-icon matSuffix>edit</mat-icon>
                            </button>
                            <button mat-button color="warn" (click)="deletetested(i)" style="float: right;">
                                <mat-icon matSuffix>delete</mat-icon>
                            </button>
                        </div>

                        <mat-form-field appearance="outline" *ngIf="item.isedit">
                            <input matInput placeholder="Placeholder" [(ngModel)]="item.content">
                            <button mat-button (click)="update(item,item.content)">
                                <mat-icon matSuffix>update</mat-icon>
                            </button>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>

            <div class="example-container" style="width: 300px;">
                <h2 class="head-title">Done <span *ngIf=" done.length>0"> - {{done.length}}</span>
                </h2>

                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" class="example-list m-2"
                    (cdkDropListDropped)="drop($event)">
                    <!-- [cdkDropListConnectedTo]="[doneList]"-->
                    <ng-container *ngFor="let item of done; let i = index ">
                        <div class="example-box" *ngIf="!item.isedit" cdkDrag>{{item.content}}
                            <button mat-button color="primary" (click)="item.isedit = true" style="float: right;">
                                <mat-icon matSuffix>edit</mat-icon>
                            </button>
                            <button mat-button color="warn" (click)="deletedone(i)" style="float: right;">
                                <mat-icon matSuffix>delete</mat-icon>
                            </button>
                        </div>

                        <mat-form-field appearance="outline" *ngIf="item.isedit">
                            <input matInput placeholder="Placeholder" [(ngModel)]="item.content">
                            <button mat-button (click)="update(item,item.content)">
                                <mat-icon matSuffix>update</mat-icon>
                            </button>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>


        </div>

        <!----------------------------------------------------------------------------->


    </mat-card-content>
</mat-card>


<!--<li>
    <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
    </mat-form-field>
</li> 
<div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
    <li *ngIf="animal">
        You chose: <em>{{animal}}</em>
    </li>
</div> --->