<mat-card class="example-card" layout="row" layout-align="center center">

  <!---Todo from start from here-->
  <mat-card-header>
    <mat-card-title>Todo </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <!-- <form [formGroup]="todoform">
        <mat-form-field appearance="outline" style="float: left;">
          <mat-label>Tasks</mat-label>
          <input matInput placeholder="Placeholder" formControlName="item">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field><br>
        <button *ngIf="!isEditEnabled" (click)="addTask()" mat-raised-button color="primary">Add</button>
        <button *ngIf="isEditEnabled" (click)="updateTask()" mat-raised-button color="primary">update</button>
      </form><br> -->
      <mat-card-content>
        <button *ngIf="!isEditEnabled" mat-mini-fab color="primary" style="float: right;" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>

      </mat-card-content>
    </mat-card>

    <div cdkDropListGroup class="d-felx overflow-auto h-100">
      <div class="example-container" style="width: 300;">
        <h2 class="head-title">To do <span *ngIf=" tasks.length>0"> - {{tasks.length}}</span> &nbsp; &nbsp;
        </h2>
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="tasks" [cdkDropListConnectedTo]="[doneList]"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <ng-container *ngFor="let item of tasks; let i = index">
            <div class="example-box" cdkDrag>{{item.description}}
              <form [formGroup]="todoform">
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Placeholder" formControlName="item.description ">
                  <button mat-mini-fab color="primary" *ngIf="!isEditEnabled" (click)="onEdit(item,i)"
                    aria-label="Example icon button with a edit icon">
                    <mat-icon>edit</mat-icon>
                  </button>&nbsp;&nbsp;
                  <button mat-mini-fab color="primary" *ngIf="!isEditEnabled" (click)="delete(i)"
                    aria-label="Example icon button with a edit icon">
                    <mat-icon>delete</mat-icon>
                  </button>&nbsp;&nbsp;
                </mat-form-field><br>
                <button *ngIf="!isEditEnabled" (click)="updateTask()" mat-raised-button color="primary">update</button>
              </form>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2 class="head-title">inprogress<span *ngIf=" inprogress.length>0"> - {{inprogress.length}}</span> </h2>
      <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogress"
        [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of inprogress; let i = index" cdkDrag>{{item.description}}
          <div class="box">
            <button mat-fab color="primary" (click)="deleteinprogress(i)"
              aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>

            <button mat-fab color="primary" (click)="onEdit(item,i)"
              aria-label="Example icon button with a delete icon">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2 class="head-title">tested <span *ngIf="tested.length>0"> - {{tested.length}}</span></h2>
      <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="tested" [cdkDropListConnectedTo]="[todoList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of tested; let i = index" cdkDrag>{{item.description}}
          <div class="box">
            <button mat-fab color="primary" (click)="deletetested(i)"
              aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>

            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>check_circle</mat-icon>
            </button>

          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2 class="head-title">Done</h2>

      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>{{item.description}}

          <div class="box">
            <button mat-fab color="primary" (click)="deletedone(i)" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>

            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>check_circle</mat-icon>
            </button>

          </div>
        </div>
      </div>
    </div>





  </mat-card-content>
</mat-card><br>

<!---paginator-->
<mat-card>
  <mat-card-content>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
  </mat-card-content>
</mat-card>